[submodule "week04/HW4/group"]
	path = week04/HW4/group
	url = https://github.com/fkrunic/HW4
[submodule "week05/HW5/group"]
	path = week05/HW5/group
	url = https://github.com/fkrunic/HW5
[submodule "week03/HW3/group"]
	path = week03/HW3/group
	url = https://github.com/dunmireg/HW3Submission.git
[submodule "week06/HW6/group"]
	path = week06/HW6/group
	url = https://github.com/fkrunic/HW6
[submodule "week07/HW7/group"]
	path = week07/HW7/group
	url = https://github.com/dunmireg/Week7
[submodule "week09/HW9/group"]
	path = week09/HW9/group
	url = https://github.com/dunmireg/Week8
